@model MeLink.Web.Models.ApplicationUser

@if (Model != null)
{
    // التحقق من نوع المستخدم بناءً على الـ Discriminator
    @if (Model is MeLink.Web.Models.Patient)
    {
        <a asp-controller="Order" asp-action="NearbyPharmacies" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors" >
            <span class="material-symbols-outlined">local_pharmacy</span>
            <span class="sidebar-text-label text-base font-medium sr-only">Pharmacies</span>
        </a>
        <a asp-controller="Order" asp-action="Create" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors" >
            <span class="material-symbols-outlined">assignment_add</span>
            <span class="sidebar-text-label text-base font-medium sr-only">New order</span>
        </a>
        <a asp-controller="Order" asp-action="Index" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors">
            <span class="material-symbols-outlined">pill</span>
            <span class="sidebar-text-label text-base font-medium sr-only">Find Medicine</span>
        </a>
        <a asp-controller="Order" asp-action="MyOrders" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors" >
            <span class="material-symbols-outlined">orders</span>
            <span class="sidebar-text-label text-base font-medium sr-only">My Orders</span>
        </a>

    }
    else if (Model is MeLink.Web.Models.Pharmacy || Model is MeLink.Web.Models.MedicineWarehouse || Model is MeLink.Web.Models.DistributionCompany)
    {
        <a asp-controller="Supplier" asp-action="Index" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors">
            <span class="material-symbols-outlined">local_pharmacy</span>
            <span class="sidebar-text-label text-base font-medium sr-only">Suppliers</span>
        </a>
        <a asp-controller="Order" asp-action="Create" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors">
            <span class="material-symbols-outlined">assignment_add</span>
            <span class="sidebar-text-label text-base font-medium sr-only">New order</span>
        </a>
       
        <a asp-controller="Order" asp-action="MyOrders" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors">
            <span class="material-symbols-outlined">orders</span>
            <span class="sidebar-text-label text-base font-medium sr-only">My Orders</span>
        </a>
        <a asp-controller="Order" asp-action="IncomingOrders" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors">
            <span class="material-symbols-outlined">call_received</span>
            <span class="sidebar-text-label text-base font-medium sr-only">Incoming orders</span>
        </a>
        <a asp-controller="Order" asp-action="BrowseMedicines" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors">
            <span class="material-symbols-outlined">pill</span>
            <span class="sidebar-text-label text-base font-medium sr-only">Find Medicine</span>
        </a>
         <a asp-controller="Supplier" asp-action="Indebtedness" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors">
            <span class="material-symbols-outlined">payments</span>
            <span class="sidebar-text-label text-base font-medium sr-only">Payments</span>
        </a>

    }
    else if (Model is MeLink.Web.Models.Manufacturer)
    {
        <a asp-controller="Order" asp-action="IncomingOrders" class="sidebar-link flex items-center gap-4 rounded-md p-3 transition-colors">
            <span class="material-symbols-outlined">call_received</span>
            <span class="sidebar-text-label text-base font-medium sr-only">Incoming Orders</span>
        </a>


    }
}


